.homepage {
    background-color: rgb(41, 67, 71);
    overflow: auto;
}

.peepee {
    height: 5000px;
}

.countdown-container {
    margin-top: 60px;
    margin-left: 60px;
}

.homepage-wave {
    width: 100%;
    position: relative;
    left: 0;
    margin-top: 300px;
    margin-bottom: 600px;
}

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(55, 75, 87, 1);
	border-radius: 40px;
}