.side-bar {
    width: auto;
    top: 150px;
    left: 10px;
    overflow-x: auto;
    padding: 8px 0;
    position: fixed;
}

.team-link {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(193, 39, 54);
    display: block;
    max-width: 10%;
}

.team-link:hover {
    text-decoration: underline;
}
